.mobileNav_container{
  height: 70px;
  width: 100%;
  top: 0px;
  position: fixed;
  box-shadow: 0 0 28px rgb(0 0 0 / 7%);
  background-color: #fff;
  padding: 20px
}

.headingbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.heading{
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  z-index: 10;
}

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: .3s ease;
  box-shadow: 0 0 50px rgb(70 70 70 / 15%);
  background-color: #fff;
  margin-top: 70px;
}

.menu_closed{
  position: fixed;
  cursor: pointer;
  left: 0;
  color: #0000;
  padding: 5px;
  z-index: 10;
}

.menu_open{
  position: fixed;
  cursor: pointer;
  left: 0;
  color: #0000;
  z-index: 10;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #5f6368;
  margin: 6px 0;
  transition: 0.4s;
}

.menu_open .bar1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.menu_open .bar2{
  opacity: 0;
}

.menu_open .bar3{
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.links_container{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.links_container a {
  width: 100%;
  float: left;
  border-bottom: 1px solid #e8e8e8;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
}